<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Español - LearnSphere</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="dashboard-container">
        <h1 class="dashboard-title">Español - LearnSphere</h1>
        <div class="button-center">
            <a href="sesionespanol.html">
                <button class="action-btn">Sesión 1</button>
            </a>
            <button class="action-btn">Sesión 2</button>
            <button class="action-btn">Sesión 3</button>
            <button class="action-btn">Sesión 4</button>
            <button class="action-btn">Sesión 5</button>
        </div>
        <div class="button-top-right">
            <a href="perfil.html">
                <button class="action-btn2 small-btn">Perfil</button>
            </a>
            <a href="logros.html">
                <button class="action-btn2 small-btn">Logros</button>
            </a>
            <a href="ajustes.html">
                <button class="action-btn2 small-btn">Ajustes</button>
            </a>
            <a href="login.html">
                <button class="action-btn2 small-btn">Cerrar Sesión</button>
            </a>
        </div>
        <div class="button-bottom-left">
            <a href="dashboard.html">
                <button class="action-btn3 small-btn">Regresar</button>
            </a>
        </div>
    </div>
</body>
</html>
