<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LearnSphere</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
        <div class="title-container">
            <h1 class="animated-title">Learn Sphere</h1>
        </div>
    <div class="login-wrapper">
        <div class="login-container">
            <div class="left-section">
                <img src="../static/img/logo.png" alt="Logo de LearnSphere">
            </div>
            <div class="right-section">
                <form action="db.php" method="post" class="login-form">
                    <input type="text" placeholder="Usuario" name="username">
                    <input type="password" placeholder="Contraseña" name="password">
                    <button type="submit" class="ingresar">Ingresar</button>
                </form>
                
                
                <form action="registro.html" method="post">
                    <button type="submit" class="registrarse">Registrarse</button>
                
            </div>
        </div>
    </div>
</body>
</html>
