<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logros Obtenidos</title>
    <link rel="stylesheet" href="static/logros.css">
</head>
<body>
    <div class="achievements-container">
        <h1>Logros</h1>
        <div class="achievement" id="logro1">
            <img src="static/estudioso.jpg" alt="Muy Estudioso">
            <p>¡Muy estudioso!</p>
            <p class="status">Logro obtenido</p>
        </div>
        <div class="achievement" id="logro2">
            <img src="static/racha.jpg" alt="Racha de Estudio">
            <p>¡Racha de estudio!</p>
            <p class="status not-obtained">Logro no obtenido</p>
        </div>
        <div class="achievement" id="logro3">
            <img src="static/logro1.jpg" alt="Genio">
            <p>¡Genio!</p>
            <p class="status">Logro obtenido</p>
        </div>
        <div class="achievement" id="logro4">
            <img src="static/logro2.jpg" alt="Avanzado">
            <p>¡Avanzado!</p>
            <p class="status not-obtained">Logro no obtenido</p>
        </div>
        <div class="achievement" id="logro5">
            <img src="static/logro3.jpg" alt="Excelente">
            <p>¡Excelente!</p>
            <p class="status">Logro obtenido</p>
        </div>
        <div class="achievement" id="logro6">
            <img src="static/elmejor.jpg" alt="El Mejor de la Clase">
            <p>¡El mejor de la clase!</p>
            <p class="status not-obtained">Logro no obtenido</p>
        </div>
        <div class="button-container">
            <a href="dashboard.html">
                <button class="action-btn3 small-btn">Regresar</button>
            </a>
        </div>
    </div>
</body>
</html>
