<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario - LearnSphere</title>
    <link rel="stylesheet" href="static/perfil-style.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-photo">
                <img src="static/alberto1.jpg" alt="Foto de Perfil">
            </div>
            <div class="profile-info">
                <h1>César Alberto Viveros Santiago</h1>
                <p><span class="label">Escuela:</span> Escuela Primaria Manuel Avila Castillo</p>
                <p><span class="label">Grado:</span> 5º Grado</p>
                <p><span class="label">Edad:</span> 11 años</p>
                <p><span class="label">Perfil más certero:</span> Kinestésico</p>
            </div>
        </div>
        <div class="profile-stats">
            <div><span class="label">Porcentaje de avance:</span> 85%</div>
            <div class="progress-container">
                <div class="progress-bar">
                    <div class="espanol">
                        Español 70%
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="matematicas">
                        Matemáticas 80%
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="geografia">
                        Geografía 90%
                    </div>
                </div>
            </div>
        </div>
        <div class="button-bottom-left">
            <a href="dashboard.html">
                <button class="action-btn3 small-btn">Regresar</button>
            </a>
        </div>
    </div>
</body>
</html>
